
.container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    border: 3px dashed orange;
    box-sizing: border-box;
}

.inner { text-align: center; }

.box {
    display: inline-block;
    position: relative;
    width: 300px;
    border: 1px solid #ddd;
    font-size: 20px;
}

.item {
    margin: 0 auto; width: 150px; height: 150px;
    background-color: royalblue; box-sizing: border-box;
    transition: all 1s;
}

.absolute {
    position: absolute; background-color: white;
    border: 2px dashed gray; top: 3px; left: 75px; z-index: -1;
}

/* 
    skew(deg)
    +deg: 지정 각도만큼 시계 방향으로 기울임
    -deg: 지정 각도만큼 반시계 방향으로 기울임
 */

 .skew1:hover { transform: skew(45deg, 45deg); } 
 .skew2:hover { transform: skewX(45deg); } 
 .skew3:hover { transform: skewY(45deg); } 

 /* 이미지 확대 박스 적용하기 */
 .img-box { overflow: hidden; height: 158px; }
 .img-box img { width: 100%; transition: all 0.5s; }
 .img-box img:hover {
     transform: skew(1.2);
     transition: all 0.5s;
     cursor: pointer;
 }