* { margin: 0; padding: 0; }

.container {
    width: 100vw;
    height: 100vh;
    animation: bg 8s infinite;
}

@keyframes bg {
    0% { background-color: palevioletred; }
    25% { background-color: palegoldenrod; }
    50% { background-color: cornflowerblue; }
    75% { background-color: aquamarine; }
    100% { background-color: paleturquoise; }
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
}